* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-flow: column wrap;
  width: 98vw;
  background-color: rgb(240, 255, 252);
  margin-top: 50px;
  box-shadow: 1px 5px 2px #e8e8e8;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  margin-bottom: 20px;
}
.card {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border: gray solid 1px;
  padding: 3px;
  cursor: pointer;
  background-color: cadetblue;
  box-shadow: 1px 5px 1px rgba(75, 64, 64, 0.26);
  margin: 5px;
}
.card img {
  height: 220px;
  width: 250px;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}
